[submodule "ExternalRepositories/x-cube-azrtos-h7"]
	path = ExternalRepositories/x-cube-azrtos-h7
	url = https://github.com/STMicroelectronics/x-cube-azrtos-h7.git
[submodule "ExternalRepositories/azure-rtos/threadx"]
	path = ExternalRepositories/azure-rtos/threadx
	url = https://github.com/azure-rtos/threadx.git
[submodule "ExternalRepositories/nf-interpreter"]
	path = ExternalRepositories/nf-interpreter
	url = http://github.com/nanoframework/nf-interpreter
[submodule "ExternalRepositories/STM32CubeH7"]
	path = ExternalRepositories/STM32CubeH7
	url = https://github.com/STMicroelectronics/STM32CubeH7.git
[submodule "ExternalRepositories/ChibiOS"]
	path = ExternalRepositories/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
[submodule "ExternalRepositories/mbedtls"]
	path = ExternalRepositories/mbedtls
	url = https://github.com/nanoframework/mbedtls
[submodule "ExternalRepositories/lwip"]
	path = ExternalRepositories/lwip
	url = https://git.savannah.nongnu.org/git/lwip.git
[submodule "ExternalRepositories/fatfs"]
	path = ExternalRepositories/fatfs
	url = https://github.com/abbrev/fatfs.git
[submodule "ExternalRepositories/azure-rtos/filex"]
	path = ExternalRepositories/azure-rtos/filex
	url = https://github.com/azure-rtos/filex.git
[submodule "ExternalRepositories/azure-rtos/usbx"]
	path = ExternalRepositories/azure-rtos/usbx
	url = https://github.com/azure-rtos/usbx.git
[submodule "ExternalRepositories/STM32CubeF7"]
	path = ExternalRepositories/STM32CubeF7
	url = https://github.com/STMicroelectronics/STM32CubeF7.git
[submodule "ExternalRepositories/ExternalRepositories/x-cube-azrtos-h7"]
	path = ExternalRepositories/ExternalRepositories/x-cube-azrtos-h7
	url = https://github.com/STMicroelectronics/x-cube-azrtos-h7.git
